.footer {
  background-color: #05051a;
  color: #f8f8f8;
  padding: 60px 10%;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-logo {
  color: #00bfa5;
  font-size: 2rem;
  font-weight: 700;
}

.footer-logo span {
  color: #ff914d;
}

.footer-desc {
  margin: 20px 0;
  line-height: 1.6;
  color: #d0d0d0;
}

.footer-socials a {
  display: inline-block;
  margin-right: 15px;
  font-size: 1.2rem;
  color: #00bfa5;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: #ff914d;
}

.footer-section h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section li a {
  color: #d0d0d0;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section li a:hover {
  color: #00bfa5;
}

.footer-section p {
  display: flex;
  align-items: start;
  gap: 10px;
  color: #d0d0d0;
  line-height: 1.6;
}

.footer-section svg {
  flex-shrink: 0;
  color: #00bfa5;
  font-size: 1.2rem;
}
